## Basics of DataFrames

In [3]:
import pandas as pd
# Creating DataFrame using List 
s = [1, 2, 3, 4, 5]

var = pd.DataFrame(s)

var

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
# Creating DataFrame using Dictionary
d = {"a":[1, 2, 3, 4, 5], "b":[1, 2, 3, 4, 5]}

var = pd.DataFrame(d)

var

# Note : here the length of both key in dictionary should be same otherwise error will occur

   a  b
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [11]:
# if u want to print a a prticular column 
e = {"a":[1, 2, 3, 4, 5], "b":[1, 2, 3, 4, 5], 1:[1, 2, 3, 4, 5]}

var5 = pd.DataFrame(e, columns = ["a", 1])

print(var5)
print()

# how to grab a particular data 
print(var5["a"][3])

   a  1
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

4

In [12]:
# How to make DataFrame using series 
f = {"a":pd.Series([1, 2, 3, 4, 5]), "b":pd.Series([1, 2, 3, 4, 5])}

var6 = pd.DataFrame(f)

var6

   a  b
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5